---
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";


---

<MainLayout>
    <h1>NautAstro</h1>
    <Image src="/186.jpg" alt="NautAstro" width={300} height={300} />

  </MainLayout>