<div class="navbar bg-slate-800 text-white sticky top-0 z-50" >
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">A D S</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Inicio</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/modal">Modal</a></li>
            <li><a href="/video">Le viddeo</a></li>
    </ul>
  </div>
</div>
