---
import FooterMain from "@/components/FooterMain.astro";
import NavBar from "@/components/NavBar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main class="flex flex-col h-screen">
      <NavBar />

      <section class="grow ">
        
        <div class="px-2 min-h-[590px]"><slot /></div>
        <FooterMain />
      </section>
      
    </main>
  </body>
</html>